{% extends 'base.html.twig' %}

{% block title %}Accueil du site{% endblock %}



	{% block body %}

		<div class="container mt-3" >

			<div class="jumbotron">
				<h1 class="display-4">Hello, world!</h1>
				<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</div>

			<h2> Nos appartements stars</h2>

			<div class="row mb-4">

				<div class="col">
					<div class="card text-center">
						<div class="card-header">
							2 chambres 50€/nuit<br>
							Pas encore noté
						</div>
						<div class="card-body">
							<img src="https://via.placeholder.com/350" style="height:200px;display:block;width:100%"/>
							<h5 class="card-title mt-2">Bel appartement</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. </p>
								<a href="#" class="btn btn-primary">En savoir plus</a>
							</div>
						</div>

					</div>


					<div class="col">
						<div class="card text-center">
							<div class="card-header">
								2 chambres 50€/nuit<br>
								Pas encore noté
							</div>
							<div class="card-body">
								<img src="https://via.placeholder.com/350" style="height:200px;display:block;width:100%"/>
								<h5 class="card-title mt-2">Bel appartement</h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. </p>
									<a href="#" class="btn btn-primary">En savoir plus</a>
								</div>
							</div>

						</div>


						<div class="col">
							<div class="card text-center">
								<div class="card-header">
									2 chambres 50€/nuit<br>
									Pas encore noté
								</div>
								<div class="card-body">
									<img src="https://via.placeholder.com/350" style="height:200px;display:block;width:100%"/>
									<h5 class="card-title mt-2">Bel appartement</h5>
									<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. </p>
										<a href="#" class="btn btn-primary">En savoir plus</a>
									</div>
								</div>

							</div>



						</div>


						<h2>Nos propriétaires stars</h2>
						<div class="row mb-4">
							<div class="col">
								<div class="card text-center">
									<div class="card-header">
										Nom Prénom<br>

									</div>
									<div class="card-body">							
										<p class="card-text">
											<img src="https://via.placeholder.com/64" class="float-left mr-3">
											description du propriétaire
										</p>
										<div class="text-right">
											<a href="#" class="btn btn-primary">En savoir plus</a>
										</div>
									</div>
								</div>

							</div>


							<div class="col">
								<div class="card text-center">
									<div class="card-header">
										Nom Prénom<br>

									</div>
									<div class="card-body">							
										<p class="card-text">
											<img src="https://via.placeholder.com/64" class="float-left mr-3">
											description du propriétaire
										</p>
										<div class="text-right">
											<a href="#" class="btn btn-primary">En savoir plus</a>
										</div>
									</div>
								</div>

							</div>


						</div>

					</div>	


				{% endblock %}




