<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    	{% include 'admin/_partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'admin/_partials/footer.html.twig' %}

        <script type="text/javascript" src="/js/jquery-3.5.1.slim.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>


